.titles {
    margin: auto;
    width: 600px;
}
body {
    color: #175245;
    background: #FF6347;
    }

.header {
    text-align: center;
    font-size: 48px
}

.titles-text {
    display: inline-block;
    margin-left: 60px;
    width: 200px;
}

.anti-text {
    display: inline-block;
    margin-left: 60px;
    width: 40px;
}

.stickerpack {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background: #FDD9B5;
    border-box: box-sizing;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 35px;

}

.deleterpack {
    width: 35px;
    height: 35px;
    background: #E71842;
    border-box: box-sizing;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 35px;

}

.form-input {
    display: inline-block;
    margin-left: 60px;
    width: 450px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
}

.task-text {
    display: inline-block;
    margin-left: 60px;
    width: 200px;
    margin-top: 10px;
}

.form-input-pr {
    display: inline-block;
    margin-left: 60px;
    width: 90px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
}

.form-input-button {
    display: inline-block;
    margin-left: 60px;
    width: 150px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    background-color: #556B2F
}

.registration-bg {
    background-color: #DB335A
}

.thief-font {
    display: inline;
    margin-left: 200px;
    font-size: 26px
}